<header>
  <div class="bg-dark" [@collapseAnimation]="state">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <app-navbar-about></app-navbar-about>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <app-navbar-contact></app-navbar-contact>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a class="navbar-brand d-flex align-items-center" routerLink="/news-list">
        <img src="assets/icons/logo.svg" width="20" height="20" class="mr-2">
        <strong>Album</strong>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        (click)="toggleCollapse()">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>
